///*------------------------------------*\
//	 #FLOATS-RESPONSIVE
//\*------------------------------------*/

//    Responsive float classes based on your responsive settings.

//    Predefine the variables below in order to alter and enable specific features.
$plump-floats-responsive-namespace: $plump-namespace !default;

@if $plump-enable-floats--symbol == true {

	@each $breakpoint in $breakpoints {

		$alias:     nth($breakpoint, 1);
		$condition: nth($breakpoint, 2);

		// This isn’t ideal, but we definitely don’t want to generate floats
		// for retina devices. Exclude retina floats manually.
		@if ($alias != "retina") {

			@include media-query($alias) {

				[class~="#{$plump-floats-responsive-namespace}u-f\<-#{$alias}"]     { float: left !important; }
				[class~="#{$plump-floats-responsive-namespace}u-f\>-#{$alias}"]     { float: right !important; }
				[class~="#{$plump-floats-responsive-namespace}u-f\<\>-#{$alias}"]   { float: none !important; }


			} // Close media query.

		} // Close retina check.

	} // Close breakpoints loop.

} // Close fractions @if.




@else {

	@each $breakpoint in $breakpoints {

		$alias:     nth($breakpoint, 1);
		$condition: nth($breakpoint, 2);

		// This isn’t ideal, but we definitely don’t want to generate floats
		// for retina devices. Exclude retina floats manually.
		@if ($alias != retina) {

			@include media-query($alias) {

				.#{$plump-floats-responsive-namespace}u-fl-#{$alias}                { float: left !important; }
				.#{$plump-floats-responsive-namespace}u-fr-#{$alias}                { float: right !important; }
				.#{$plump-floats-responsive-namespace}u-fn-#{$alias}                { float: none !important; }

			} // Close media query.

		} // Close retina check.

	} // Close breakpoints loop.

} // Close fractions @if.
